body {
	margin: auto;
	max-width: 700px;
	padding: 1em;
	word-break: break-word;
	font-size: 1.5em
}

h1 {
	text-align: center;
	margin-left: -1em;
	margin-bottom:1em;
}

@media screen and (max-width: 600px) {
	h1 {
		margin-left: 0 !important
	}
}
.admonition {
	padding: 0 15px;
	margin-top:2em;
	margin-bottom: 20px;
	border: 1px solid transparent;
	border-radius: 20px;
}

.admonition-title {
	font-weight: bold;
}

.admonition.warning {
	color: #1a1108;
	background-color: #f3c195;
	border-color: #e67e22;
}